$base-color-1: #000000;
$base-color-2: #ffffff;
$base-color-3: #2164f3;
$base-color-4: #00b300;
$base-color-5: #00cc00;
$base-color-6: #ff5a1f;
$base-color-7: #cccccc;
$base-color-8: #e67300;
$base-color-9: #ff9900;
$base-color-10: #d510b5;
$base-color-11: #cc0000;
$base-color-12: #ff0000;