$shadow-1: 1px 1px 1px $base-color-1, 0px 0px 1px $base-color-1;
$shadow-2: 1px 3px 15px $base-color-1;

$border-1: 0.2px solid $base-color-1;
$border-2: 4px solid $base-color-6;
$border-3: 1px solid $base-color-2;